{erl_opts, [debug_info]}.
{deps, [
    {brod, "4.3.2"},
    {thrift, {git, "https://github.com/valitydev/thrift_erlang.git", {tag, "v1.0.0"}}},
    {mg_proto, {git, "https://github.com/valitydev/machinegun-proto.git", {branch, "master"}}},
    {epg_connector, {git, "https://github.com/valitydev/epg_connector.git", {tag, "v0.0.3"}}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [cdc_notifier, cdc_progressor]}
]}.

{xref_checks, [
    % mandatory
    undefined_function_calls,
    undefined_functions,
    deprecated_functions_calls,
    deprecated_functions
]}.

{dialyzer, [
    {warnings, [
        % mandatory
        unmatched_returns,
        error_handling,
        unknown
    ]},
    {plt_apps, all_deps}
]}.

{profiles, [
    {prod, [
        {deps, [
            {recon, "2.5.2"}
        ]},
        {relx, [
            {release, {cdc_notifier, "0.1"}, [
                {recon, load},
                {runtime_tools, load},
                {tools, load},
                {epg_connector, load},
                sasl,
                cdc_notifier,
                cdc_progressor
            ]},
            {mode, minimal},
            {sys_config, "./config/sys.config"},
            {vm_args, "./config/vm.args"},
            {extended_start_script, true}
        ]}
    ]},
    {test, [
        {deps, [
            {progressor, {git, "https://github.com/valitydev/progressor.git", {branch, "epic/change-data-capture"}}},
            {meck, "0.9.2"}
        ]},
        {dialyzer, [
            {plt_extra_apps, [
                eunit,
                common_test,
                runtime_tools,
                meck,
                mg_proto,
                kafka_protocol,
                brod,
                progressor,
                thrift
            ]}
        ]}
    ]}
]}.

{project_plugins, [
    {erlfmt, "1.6.2"},
    {rebar3_lint, "3.2.6"}
]}.

{erlfmt, [
    {print_width, 120},
    {files, [
        "apps/*/{src,include,test}/*.{hrl,erl}",
        "rebar.config",
        "elvis.config",
        "config/sys.config"
    ]}
]}.
