[
    {cdc_progressor, [
        {streams, #{
            %% db_ref
            %example_db => #{
            %%%%% replication slot name
            %    "cdc_slot_example" =>
            %%%%%%%% publications config (kafka client, source namespace, destionation topics)
            %        #{
            %            %% source namespace_id = example
            %            example => #{
            %                %% kafka client config for publication
            %                kafka_client => default_kafka_client,
            %                eventsink_topic => <<"example_eventsink_topic">>,
            %                lifecycle_topic => <<"example_lifecycle_topic">>
            %            },
            %            invoice => #{
            %                kafka_client => default_kafka_client,
            %                eventsink_topic => <<"invoice_eventsink_topic">>,
            %                lifecycle_topic => <<"invoice_lifecycle_topic">>
            %            }
            %        }
            %}
            progressor_db => #{
                "cdc_slot_default" => #{
                    'default/default' => #{
                        kafka_client => default_kafka_client,
                        eventsink_topic => <<"cdc_eventsink_topic">>,
                        lifecycle_topic => <<"cdc_lifecycle_topic">>
                    }
                }
            }
        }}
    ]},

    {progressor, [
        {namespaces, #{
            'default/default' => #{
                storage => #{
                    client => prg_pg_backend,
                    options => #{pool => default_pool}
                },
                processor => #{
                    client => prg_echo_processor,
                    options => #{}
                },
                notifier => #{
                    client => default_kafka_client,
                    options => #{
                        topic => <<"prg_topic">>,
                        lifecycle_topic => <<"prg_lifecycle_topic">>
                    }
                }
            }
        }}
    ]},

    {epg_connector, [
        {databases, #{
            progressor_db => #{
                host => "postgres",
                port => 5432,
                database => "progressor_db",
                username => "progressor",
                password => "progressor"
            }
        }},
        {pools, #{
            default_pool => #{
                database => progressor_db,
                size => 10
            }
        }}
    ]},

    {canal, [
        {url, "http://vault"},
        {engine, kvv2}
    ]},

    {brod, [
        {clients, [
            {default_kafka_client, [
                {endpoints, [{"kafka1", 9092}, {"kafka2", 9092}, {"kafka3", 9092}]},
                {auto_start_producers, true},
                {default_producer_config, []}
            ]}
        ]}
    ]}
].
